@import "../../utils/mixins/mixins";
@import "/src/Theme/theme";

.btn {
  @include for-size(smaller-phone) {
    padding: 0.4rem 0.8rem;
    font-family: $primary-font;
    font-size: 1.2rem;
    background: $primary-color;
    color: $text-color;
    border-radius: 2rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
  }

  @include for-size(medium-phone) {
    font-size: 1.3rem;
  }

  @include for-size(phone-only) {
    font-size: 1.5rem;
    padding: 0.6rem 1.6rem;
  }
}

.secondary {
  @include for-size(smaller-phone) {
    padding: 0.3rem 1.4rem;
    border: 0.2rem $primary-color solid;
    color: $primary-color;
    background: #fff;
  }

  @include for-size(medium-phone) {
    padding: 0.2rem 1.4rem;
  }
}

.tertiary {
  @include for-size(smaller-phone) {
    padding: 0.8rem 1.4rem;
    border-radius: 0.5rem;
    color: $text-color;
    background: $primary-color;
    border: 0.2rem $primary-color solid;
    cursor: pointer;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;

    &:hover {
      border: 0.2rem $primary-color solid;
      color: $primary-color;
      background: $text-color;
      transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    }
  }
}

.quaternary {
  @include for-size(smaller-phone) {
    padding: 0.4rem 1.8rem;
    border-radius: 0.5rem;
    font-weight: bold;
  }

  @include for-size(medium-phone) {
    font-size: 1.4rem;
    padding: 0.4rem 2rem;
  }

  @include for-size(phone-only) {
    padding: 0.6rem 3.2rem;
  }
}

.quinary {
  @include for-size(smaller-phone) {
    padding: 0.3rem 1rem;
    background: $background-color;
  }

  @include for-size(phone-only) {
    font-size: 1.5rem;
    padding: 0.6rem 4.8rem;
  }
}
