@import "../../utils/mixins/mixins";
@import "/src/Theme/theme";

.menu {
  @include for-size(smaller-phone) {
    margin-top: 4.5rem;

    &__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: $title-primary-font;
      color: $primary-color;
      height: 6rem;
      width: 100%;
      padding: 0 1rem;
      background: $secondary-color;
      gap: 1.4rem;
    }

    &__nav-btns {
      display: flex;
      gap: 0.5rem;
    }

    &__control {
      margin: 2rem auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 33.6rem;
      height: 4rem;
      background: $secondary-color;
      padding: 0 1rem;
    }

    &__options {
      margin-top: 3.6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 1rem;
      gap: 1rem;
    }

    &__control-page {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      font-weight: bold;
      height: 3rem;
      width: 3rem;
      background: $primary-color;
      border-radius: 50%;
    }

    &__control-container {
      display: flex;
      gap: 0.5rem;
    }

    &__control-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3rem;
      width: 3rem;
      background: $primary-color;
      border-radius: 50%;
      cursor: pointer;
    }

    & .control-icon--variant {
      display: none;
    }
  }

  @include for-size(medium-phone) {
    &__options {
      gap: 3rem;
    }

    &__nav-title {
      font-size: 2rem;
    }

    &__nav-btns {
      gap: 1rem;
    }
  }

  @include for-size(phone-only) {
    &__nav {
      padding: 0 3rem;
    }

    &__options {
      padding: 2rem 8rem;
      column-gap: 5rem;
    }

    &__nav-btns {
      gap: 2rem;
    }

    &__control {
      margin: 4rem auto;
      width: 51.4rem;
      height: 5rem;
      padding: 0 2.5rem;
    }

    &__control-container {
      gap: 2rem;
    }
  }

  @include for-size(tablet-portrait-up) {
    margin-top: 12rem;
    &__nav {
      padding: 4rem 4rem;
    }

    &__nav-title {
      font-size: 2.6rem;
    }

    &__nav-btns {
      gap: 3rem;
    }

    &__control {
      width: 58.8rem;
    }
  }

  @include for-size(tablet-portrait-up) {
    &__options {
      align-items: flex-start;
      justify-content: center;
      column-gap: 8rem;
    }
  }
}

.menu__options--pespective {
  @include for-size(smaller-phone) {
    position: relative;
    width: 16rem;
    height: 25.6rem;
  }

  @include for-size(medium-phone) {
    width: 17.6rem;
    height: 26.6rem;
  }

  @include for-size(tablet-portrait-up) {
    width: 24.4rem;
    height: 35.4rem;
  }
}

.menu__front {
  @include for-size(smaller-phone) {
    position: absolute;
    backface-visibility: hidden;
    transform: perspective(600px) rotateY(0deg);
    transition: transform 0.55s linear;
  }
}

.menu__front__item {
  @include for-size(smaller-phone) {
    width: 16rem;
    height: 25.6rem;
    background: $secondary-color;
  }

  @include for-size(medium-phone) {
    width: 17.6rem;
    height: 26.6rem;
  }

  @include for-size(tablet-portrait-up) {
    width: 24.4rem;
    height: 35.4rem;
  }
}

.menu__front__item-img {
  @include for-size(smaller-phone) {
    width: 15.2rem;
    height: 8.7rem;
    padding: 0.4rem;
    border-radius: 2rem;

    & img {
      height: 8.7rem;
      width: 15.2rem;
      object-fit: cover;
      object-position: center;
      border-radius: 2rem;
    }
  }

  @include for-size(medium-phone) {
    width: 16.7rem;
    height: 9.9rem;

    & img {
      width: 16.7rem;
      height: 9.9rem;
    }
  }

  @include for-size(tablet-portrait-up) {
    margin: 0 auto;
    width: 23.2rem;
    height: 13.6rem;
    padding: 0.5rem 0;
    & img {
      width: 23.2rem;
      height: 13.6rem;
    }
  }
}

.menu__front-title {
  @include for-size(smaller-phone) {
    text-align: center;
    margin-top: 1.6rem;
    font-family: $title-secondary-font;
  }

  @include for-size(tablet-portrait-up) {
    font-size: 1.8rem;
  }
}

.menu__front-information {
  @include for-size(smaller-phone) {
    text-align: center;
    font-size: 1.2rem;
    margin: 0.4rem 0.3rem;
    font-family: $primary-font;
  }

  @include for-size(tablet-portrait-up) {
    font-size: 1.5rem;
  }
}

.menu__front__control {
  @include for-size(smaller-phone) {
    position: absolute;
    bottom: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;

    &-price {
      font-size: 1.2rem;
      font-family: $primary-font;
    }

    &-information {
      font-size: 1.2rem;
      font-family: $primary-font;
    }
  }

  @include for-size(tablet-portrait-up) {
    &-price {
      font-size: 1.5rem;
      font-family: $primary-font;
    }
  }
}

.menu__front__control--secondary {
  @include for-size(smaller-phone) {
    position: absolute;
    bottom: 1rem;
    margin-left: 0.4rem;
    align-items: center;
    justify-content: unset;
  }
}

.menu__back {
  @include for-size(smaller-phone) {
    position: absolute;
    width: 16rem;
    height: 25.6rem;
    backface-visibility: hidden;
    transform: perspective(600px) rotateY(-180deg);
    transition: transform 0.55s linear;
    background: $secondary-color;

    &__list {
      margin: 1rem auto;
      width: 100%;
      padding: 0 3rem;
    }

    &__list-item {
      font-size: 1.2rem;
      font-family: $primary-font;
      font-weight: 600;
      color: $primary-color;
    }

    @include for-size(tablet-portrait-up) {
      &__list-item {
        font-size: 1.5rem;
        color: $primary-color;
      }
    }
  }

  @include for-size(medium-phone) {
    width: 17.6rem;
    height: 26.6rem;
  }

  @include for-size(tablet-portrait-up) {
    width: 24.4rem;
    height: 35.4rem;
  }
}

.menu__back__card {
  @include for-size(smaller-phone) {
    position: relative;
    height: 100%;
  }
}

.back--active .menu__front {
  transform: perspective(600px) rotateY(180deg);
}

.back--active .menu__back {
  transform: perspective(600px) rotateY(0deg);
}

.back__control--variant {
  @include for-size(smaller-phone) {
    position: absolute;
    bottom: 2rem;
    margin-left: 0.4rem;
    width: unset;
  }
}
