@import "../../utils/mixins/mixins";
@import "/src/Theme/theme";

.reserve {
  @include for-size(smaller-phone) {
    overflow: hidden;
    &__title {
      @include primary-title-styles(2.4rem);
    }

    & p {
      color: $text-color;
      font-size: 1.4rem;
    }

    &__action {
      margin-top: 3rem;
      margin-right: auto;
    }

    &__container {
      margin: 3rem auto;
      width: 20.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }

    & .drop--effect {
      overflow: hidden;
      height: 6rem;
      align-items: flex-start;
    }

    &__container__inner {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 20.5rem;
      height: 4rem;
      background: $background-color;
      border: 0.2rem solid $primary-color;
      cursor: pointer;
    }

    &__extra {
      margin-top: 0.4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 1rem;
    }

    &__extra-content {
      display: flex;
      align-items: flex-end;
      gap: 0.8rem;
    }

    &__extra-text {
      color: $text-color;
      font-family: $primary-font;
      font-size: 1.4rem;
      letter-spacing: 0.1rem;
    }
  }

  @include for-size(medium-phone) {
    &__title {
      font-size: 2.6rem;
    }
  }
}
