@import "../../utils/mixins/mixins";
@import "/src/Theme/theme";

.about {
  @include for-size(smaller-phone) {
    margin-top: 4.5rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
      display: flex;
      gap: 1.5rem;
    }

    &__container-img {
      width: 16.3rem;
      height: 11.8rem;
      background: $primary-color;
      border-radius: 2rem 0 2rem 0;

      & img {
        width: 16.3rem;
        height: 11.8rem;
      }
    }

    &__container-content {
      display: flex;
      flex-direction: column;
    }

    &__title {
      margin-right: auto;
      @include primary-title-styles(2.4rem);
    }

    &__text {
      font-family: $primary-font;
      font-size: 1rem;
      width: 16.8rem;
    }
  }

  @include for-size(phone-only) {
    &__container {
      gap: 2rem;
    }

    &__title {
      font-size: 2.6rem;
    }

    &__container-img {
      width: 23.4rem;
      height: 17rem;

      & img {
        width: 23.4rem;
        height: 17rem;
        object-fit: cover;
      }
    }

    &__text {
      font-size: 1.4rem;
      width: 25.6rem;
    }
  }

  @include for-size(tablet-portrait-up) {
    &__container {
      gap: 3rem;
    }

    &__title {
      font-size: 3.2rem;
    }

    &__container-img {
      width: 29.6rem;
      height: 20.15rem;

      & img {
        width: 29.6rem;
        height: 20.15rem;
      }
    }

    &__text {
      font-size: 1.6rem;
      width: 27.4rem;
    }
  }

  @include for-size(tablet-landscape-up) {
    &__container-img {
      width: 39.2rem;
      height: 28.5rem;

      & img {
        width: 39.2rem;
        height: 28.5rem;
      }
    }

    &__text {
      width: 34rem;
    }
  }
}
