// _variables.scss
$primary-color: #ff3a41;
$text-color: #fff;
$background-color: #000000;

$smaller-phone: 25em;
$phone-only: 37.5em;
$tablet-portrait-up: 48em;
$tablet-landscape-up: 56.25em;
$desktop-up: 75em;
$big-desktop-up: 87.5em;
$title-primary-font: "Montserrat", sans-serif;
$primary-font: "Dosis", sans-serif;
