@import "/src/Theme/theme";
@import "../../utils/mixins/mixins";

.home {
  @include for-size(smaller-phone) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22.3rem;
    background: $background-color;

    &__container {
      width: 36rem;
    }

    &__content-title {
      text-align: center;
      font-size: 2rem;
      font-family: $primary-font;
      color: $primary-color;
    }

    &__container__inner {
      display: flex;
      flex-direction: column;
      gap: 2.6rem;
      align-items: center;
      justify-content: center;

      & p {
        color: $text-color;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.9rem;
    }

    &__content-text {
      font-family: $primary-font;
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
    }

    &__btns {
      display: flex;
      gap: 2.5rem;
      cursor: pointer;
    }
  }

  @include for-size(medium-phone) {
    height: unset;
    aspect-ratio: 2/1;
    &__content-title {
      font-size: 2.2rem;
    }
  }

  @include for-size(phone-only) {
    &__content-title {
      font-size: 2.4rem;
    }

    &__container__inner {
      & p {
        font-size: 1.4rem;
      }
    }
  }

  @include for-size(tablet-portrait-up) {
    &__content-title {
      font-size: 3.2rem;
    }

    &__container__inner {
      gap: 3.5rem;

      & p {
        font-size: 1.5rem;
      }
    }

    &__btns {
      gap: 4rem;
    }
  }

  @include for-size(tablet-landscape-up) {
    &__container__inner {
      & p {
        font-size: 1.6rem;
      }
    }

    &__btns {
      gap: 5rem;
    }
  }

  @include for-size(desktop-up) {
    height: 40vw;
    aspect-ratio: unset;
    &__container__inner {
      gap: 6rem;
    }
  }
}
