@import "/src/Theme/theme";

@mixin for-size($size) {
  @if ($size == smaller-phone) {
    @media (min-width: 23.75em) {
      @content;
    }
  } @else if ($size == medium-phone) {
    @media (min-width: 25rem) {
      @content;
    }
  } @else if ($size == tablet-portrait-up) {
    @media (min-width: 786px) {
      @content;
    }
  } @else if ($size == tablet-landscape-up) {
    @media (min-width: 900px) {
      @content;
    }
  } @else if ($size == desktop-up) {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if ($size == big-desktop-up) {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

@mixin primary-title-styles($font-size) {
  text-align: center;
  font-size: $font-size;
  font-family: $title-primary-font;
  color: $primary-color;
}
